body {
    background-color: black;
}

#div1 {
    width: 50%;
    height: 100%;
    float: left;
    display: inline;
}

#div2 {
    width: 50%;
    height: 100%;
    float: left;
    font-family: Consolas, monaco, monospace;
	font-size: 50px;
	color: white;
}

#div3 {
    position: fixed;
    top: 35%;
}
